.footer {
  background-color: rgb(128, 222, 128);
  padding: 100px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.section1 {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 50%;
  background-color: white;
  color: black;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  padding: 30px;
  height: fit-content;
}

.section2 {
  width: 50%;
}

.section2 > img {
  width: 100%;
  height: auto;
  max-height: 100%;
}

.title {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.normalText {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.normalText > a {
  color: black;
}

.normalText > a:visited {
  color: black;
}
.icon {
  font-size: 2rem;
}
