.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 10vw;
}

.grid {
  height: 80%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10vh 5vw;
}

.title {
  font-size: 1.8rem;
  margin-bottom: 20px;
}
